body {
    background-color: rgb(244, 235, 152);
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found-container {
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 76px;
    }

    h3 {
        font-size: 32px;
    }
}
